/* menuStyles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('cyberpunk-2077-legendary-optics.jpg') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    #background-position: 40px center;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden;
    
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
}

.sidebar {
    width: 25%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    position: relative; 
}

.sidebar h1 {
    margin: 0;
    font-size: 24px;
    color: #ff0000;
}

.sidebar p {
    margin: 10px 0;
}

.sidebar button {
    background: #ff0000;
    border: none;
    padding: 50px 50px;
    color: #fff;
    cursor: pointer;
    margin-top: 50px;
}

.sidebar button2 {
    background: #ff0000;
    border: none;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}

.sidebar h2 {
    margin-top: 20px;
    padding: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.main-content {
    width: 75%;
    display: flex;
    justify-content: right;
    align-items: right;
    position: relative;
}

.radial-menu {
    position: absolute;
    width: 30%;
    height: 30%;
    border-radius: 50%;
    left: 150px;
    top: 420px;
    #background: rgba(0, 0, 0, 0.8);

}

.menu-item {
    position: absolute;
    #width: 80px;
    #height: 30px;
    width: 75%;
    height: 15%;
    #background-color: rgba(255, 255, 255, 0.2);
    #background: rgba(0, 0, 0, 0.8);
    background: #ff0000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    transform-origin: 50% 150px;
    transform: rotate(0deg);
    #color: #fff;


}



.menu-item:nth-child(1) { transform: rotate(0deg) translate(0, -120px) rotate(0deg); }
.menu-item:nth-child(2) { transform: rotate(40deg) translate(0, -120px) rotate(-40deg); }
.menu-item:nth-child(3) { transform: rotate(80deg) translate(0, -120px) rotate(-80deg); }
.menu-item:nth-child(4) { transform: rotate(120deg) translate(0, -120px) rotate(-120deg); }
.menu-item:nth-child(5) { transform: rotate(160deg) translate(0, -120px) rotate(-160deg); }
.menu-item:nth-child(6) { transform: rotate(200deg) translate(0, -120px) rotate(-200deg); }
.menu-item:nth-child(7) { transform: rotate(240deg) translate(0, -120px) rotate(-240deg); }
.menu-item:nth-child(8) { transform: rotate(280deg) translate(0, -120px) rotate(-280deg); }
.menu-item:nth-child(9) { transform: rotate(320deg) translate(0, -120px) rotate(-320deg); }

.right-content {
    position: relative;
    #right: -401px;
    #top: 0px;
    #bottom: 0px;
    #width: 300px;
    width: 30%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}

.setup-container {
    position: absolute;
    #width: 35%;

}

.setup {
    position: relative;
    right: 10px;
    #top: 0px;
    #bottom: 0px;
    #width: 300px;
    width: 100%;
    height: 85%;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}

.setup h2 {
    font-size: 18px;
    margin: 0 0 10px 0;
    color: #ff0000;
}

.setup ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.setup ul li {
    margin: 10px 0;
}

.options {
    margin-top: 0px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 40%;
    position: absolute;
    top: 300px;
    left: -30px;
    z-index: 1;
}

.options h2 {
    font-size: 18px;
    margin: 0 0 10px 0;
    color: #ff0000;
}

.options form {
    list-style: none;
    padding: 0;
    margin: 0;
}

.options label {
    display: block;
    margin: 10px 0 5px 0;
}

.options select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #fff;
    color: #fff;
}

.setup .btn {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    background: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.container-middle {
    display: flex;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    
}

.middlebar {
    width: 100%;
    padding: 20px;

    background: rgba(0, 0, 0, 0.7);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);

}
